- 
  var menuList = [
    { title: 'Products', link: './products' },
    { title: 'Companies', link: './Companies' },
    { title: 'Projects', link: './Projects' },
    { title: 'Blog', link: './Blog' },
    { title: 'About us', link: './About' },
    { title: 'Subscription', link: './Subscription' },
    { title: 'Favourites', link: './Favourites' },
    { title: 'Contacts', link: './Contacts' },
    { title: 'FAQ', link: './FAQ' },
    { title: 'Business account', link: './Business' },
  
  ]

footer.footer-sec 
  .container 
    .footer 
      .footer-info 
        img.footer-info__logo(src="../../widgets/footer/logo.svg", alt="")
        a.footer-info__link.footer-info__phone(href="tel:+723614730280") +62 361 473 02 80
        a.footer-info__link.footer-info__mail(href="mailto:rafi@gmail.com") rafi@gmail.com
      .footer-menu 
        each item in menuList 
          a.footer-menu__item(href=item.link) #{item.title} 

script(src="../../shared/lib/main.js")

