.a {
  &top {
    display: flex;
    &__img {
      width: 419px;
      height: 189px;
      margin-right: 69px;
    }
    &-content {
      display: flex;
      flex-direction: column;
    }
    &__description {
      line-height: 24px;
      font-weight: 400;
      font-size: 18px;
      margin-top: 24px;
    }
  }

  &content {
    margin-top: 38px;

    &__title {
      margin-bottom: 24px;
    }
    &__text {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      width: 830px;
    }
  }
}
