block Variables 
  - 
    var tabs = [
      {
        name: 'About Us',
        baseName: 'aboutTabs',
        isShowAll: true,
        active: true,
      }, 
      {
        name: 'Our story',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Our mission',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Our values',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      }
    ]