block Variables 
  - 
    var projects = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
    ]
    var imageSlides = [
      {
        image: './img/image.png',
      },
      {
        image: './img/image-1.png',
      },
      {
        image: './img/image-2.png',
      },
      {
        image: './img/image.png',
      },
      {
        image: './img/image-1.png',
      },
      {
        image: './img/image-2.png',
      },
      {
        image: './img/image.png',
      },
      {
        image: './img/image-1.png',
      },
      {
        image: './img/image-2.png',
      },
    ]
    var projects = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/project.png',
        type: 'Product Type',
      },
    ]
   