block Variables 
  - 
    var tabs = [
      {
        name: 'About Us',
        baseName: 'aboutTabs',
        isShowAll: true,
        active: true,
      }, 
      {
        name: 'Our story',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Our mission',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Our values',
        baseName: 'aboutTabs',
        isShowAll: false,
        active: false,
      }
    ]
    var products = [
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name5',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name55',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
    ]
    var projects = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
    ]
    var reviews = [
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Очень длинно Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta nobis earum quis repellat fugiat natus, ex quasi perspiciatis ullam eius, odit a aspernatur ipsa ratione vitae officiis itaque expedita suscipit.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]