.company {
  display: flex;
}
.company__image {
  width: 425px;
  margin-right: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}
.company-content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
.company-badges {
  display: flex;
  align-items: center;
}
.company-badges__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.company-badges__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.company-badges__item:not(:last-child) {
  margin-right: 30px;
}
.company__title {
  margin-top: 16px;
  max-width: 444px;
}
.company__description {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 444px;
}
.company__favorites {
  position: absolute;
  right: 0;
  top: 0;
}

.reviews {
  height: -moz-max-content;
  height: max-content;
  margin-top: 25px;
}
.reviews-top__write {
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 37px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid var(--red);
  color: var(--red);
  padding: 0px 67px;
  cursor: pointer;
}

.review {
  border-radius: 20px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  background: var(--greyBlue);
  flex-grow: 1;
}
.review-person {
  display: flex;
  align-items: center;
}
.review-person__img {
  width: 67px;
  height: 67px;
  margin-right: 22px;
  border-radius: 50%;
}
.review-person__info div {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.review-person__info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 3px;
  color: var(--grey);
}
.review__text {
  margin-top: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.ccontacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.ccontacts__item {
  width: calc((100% - 44px) / 3);
  background: var(--greyBlue);
  display: flex;
  justify-content: center;
  padding: 11px 0px;
  border-radius: 10px;
}
.ccontacts__item--img {
  width: 24px;
  height: 24px;
  margin-right: 19px;
}
.ccontacts__item span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}
.ccontacts__item:last-child {
  width: 100%;
  margin-top: 23px;
}

.related {
  height: -moz-max-content;
  height: max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 25px;
}
.related__item {
  background: var(--greyBlue);
  padding: 16px 20px 20px 20px;
  border-radius: 26px;
}
.related__item--img {
  display: block;
  height: 116px;
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.related__item--title {
  text-align: center;
  margin-top: auto;
}

.tippy-box * {
  z-index: 90;
  color: #fff;
}

@media (max-width: 1200px) {
  .company-content {
    padding-top: 60px;
  }
  .ccontacts__item span {
    font-size: 16px;
  }
}
@media (max-width: 980px) {
  .company {
    flex-direction: column;
  }
  .company-content {
    padding-top: 0px;
    margin-top: 20px;
  }
  .company__title {
    width: 100%;
    max-width: 100%;
  }
  .company__description {
    width: 100%;
    max-width: 100%;
  }
  .ccontacts__item span {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .reviews-top__write {
    padding: 0px 20px;
    text-align: center;
    margin-right: 12px;
  }
}
.reviews-top__write.mob {
  display: none;
}

@media (max-width: 768px) {
  .reviews-top__write.desk {
    display: none;
  }
  .reviews-top__write.mob {
    display: block;
    width: 100%;
    margin-top: 18px;
  }
  .company__image {
    width: 60%;
    max-width: 60%;
  }
  .company-content {
    position: static;
  }
  .company {
    position: relative;
  }
  .company-badges__item:not(:last-child) {
    margin-right: 14px;
  }
}
@media (max-width: 480px) {
  .products, .reviews, .related {
    width: 100vw;
    padding-left: 20px;
    padding-right: 80px;
    transform: translateX(-20px);
  }
  .company__description {
    font-size: 16px;
    margin-top: 24px;
  }
  .ccontacts__item {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .ccontacts__item:last-child {
    margin-top: 0px;
  }
  .ccontacts {
    margin-top: 24px;
  }
  .ccontacts__item span {
    font-size: 14px;
  }
  .ccontacts__item--img {
    width: 17px;
    height: 17px;
    margin-right: 17px;
  }
  .related__item {
    padding: 30px;
  }
  .related__item--title {
    margin-top: 15px;
  }
}/*# sourceMappingURL=company.css.map */