block Variables 
  - 
    var tabs = [
      {
        name: 'Company Overview',
        baseName: 'companyTabs',
        isShowAll: true,
        active: true,
      }, 
      {
        name: 'Products',
        baseName: 'companyTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Projects',
        baseName: 'companyTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Customer Experiences',
        baseName: 'companyTabs',
        isShowAll: false,
        active: false,
      },
      {
        name: 'Contacts',
        baseName: 'companyTabs',
        isShowAll: false,
        active: false,
      }
    ]
    var products = [
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name5',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name55',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
    ]
    var projects = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/company.svg',
        type: 'Product Type',
      },
    ]
    var reviews = [
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
      {
        name: 'Alex Jakson',
        rank: 'director',
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]
    var relateds = [
      {
        name: 'Forbo Flooring',
        image: './img/related1.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related2.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related1.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related2.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related1.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related2.svg',
      },
      {
        name: 'Forbo Flooring',
        image: './img/related1.svg',
      },
    ]