html
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./blogItem.css")

  block Variables

  .container 
    h1.page-title.blogItem__title How to determine what size carpet you need 
    .blogItem-content 
      //- desktop image
      img.blogItem-content__img.desk(src="../../pages/blogItem/img/image.jpg", alt="")
      //- mobile image
      img.blogItem-content__img.mob(src="../../pages/blogItem/img/image.jpg", alt="")
      p The business must showcase innovative products, services, or business practices that differentiate them from competitors and offer unique value to customers. This may include the use of cutting-edge technology, groundbreaking design, novel materials, sustainable innovations, or disruptive business models. They should have a track record of innovation and a commitment to continuous improvement and advancement in their field. Additionally, they should be recognized or endorsed by industry experts, received awards or accolades for their innovative achievements, or have patents or intellectual property rights protecting their innovations.
      h2 H2 The business must showcase
      p The business must showcase innovative products, services, or business practices that differentiate them from competitors and offer unique value to customers. This may include the use of cutting-edge technology, groundbreaking design, novel materials, sustainable innovations, or disruptive business models. They should have a track record of innovation and a commitment to continuous improvement and advancement in their field. Additionally, they should be recognized or endorsed by industry experts, received awards or accolades for their innovative achievements, or have patents or intellectual property rights protecting their innovations.



  include ../../widgets/footer/footer.pug




