block Variables 
  -
    var blogItems = [
      {
        image: '../../pages/blog/img/image.jpg',
        title: 'How to determine what size carpet you need ',
        description: 'Before you start a carpet on arrange an existing one, let&quot;s repeat a few rules'
      },
      {
        image: '../../pages/blog/img/image-1.jpg',
        title: 'Which is better: A matte or glossy facade for the kitchen',
        description: 'Длинный текст As one of the designers noted, the question is of the "trousers or skirt" level. And yet As one of the designers noted, the question is of the "trousers or skirt" level. And yet'
      },
      {
        image: '../../pages/blog/img/image.jpg',
        title: 'How to determine Длинный заголовок what size carpet you need what size carpet you need what size carpet you need ',
        description: 'Before you start a carpet on arrange an existing one, let&quot;s repeat a few rules'
      },
      {
        image: '../../pages/blog/img/image-1.jpg',
        title: 'Which is better: A matte or glossy facade for the kitchen',
        description: 'As one of the designers noted, the question is of the "trousers or skirt" level. And yet'
      },
      {
        image: '../../pages/blog/img/image.jpg',
        title: 'How to determine what size carpet you need ',
        description: 'Before you start a carpet on arrange an existing one, let&quot;s repeat a few rules'
      },
      {
        image: '../../pages/blog/img/image-1.jpg',
        title: 'Which is better: A matte or glossy facade for the kitchen',
        description: 'As one of the designers noted, the question is of the "trousers or skirt" level. And yet'
      },
      {
        image: '../../pages/blog/img/image.jpg',
        title: 'How to determine what size carpet you need ',
        description: 'Before you start a carpet on arrange an existing one, let&quot;s repeat a few rules'
      },
      {
        image: '../../pages/blog/img/image-1.jpg',
        title: 'Which is better: A matte or glossy facade for the kitchen',
        description: 'As one of the designers noted, the question is of the "trousers or skirt" level. And yet'
      },
      {
        image: '../../pages/blog/img/image.jpg',
        title: 'How to determine what size carpet you need ',
        description: 'Before you start a carpet on arrange an existing one, let&quot;s repeat a few rules'
      },
     
    ]