.auth {

  &-forgot-link {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }
  &-dont-have {
    display: block;
    margin-top: 24px;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey);
  }
  &-policy {
    display: block;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    & a {
      font-size: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
}


@media (max-width: 640px) {
  .auth-forgot-link {
    font-size: 14px;
  }
  .auth-dont-have{
    font-size: 14px;
  }
  .auth-policy {
    font-size: 12px;
    margin-top: 8px;
  }

}