html

  include ./authVars.pug
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./auth.css")


  include ../../shared/ui/inputs/textInput.pug
  include ../../shared/ui/inputs/dropdownInput.pug
  include ../../shared/ui/inputs/dropdownWithSearch.pug
  include ../../shared/ui/inputs/imageInput.pug
  include ../../shared/ui/inputs/textAreaInput.pug
  include ../../shared/ui/inputs/checkboxInput.pug

  block Variables

  .container 
    h1.page-title.change__title Join rafi 
    form.fillForm-form.change-form
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name New password
        +textInput('password', true, '********* ')
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Confirm password
        +textInput('confirm', true, '*********')
     
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.submit-content
          button.btn.fillForm__submit Change password


  include ../../widgets/footer/footer.pug

  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="./auth.js" defer) 




