html

  include ./authVars.pug
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./auth.css")


  include ../../shared/ui/inputs/textInput.pug
  include ../../shared/ui/inputs/dropdownInput.pug
  include ../../shared/ui/inputs/dropdownWithSearch.pug
  include ../../shared/ui/inputs/imageInput.pug
  include ../../shared/ui/inputs/textAreaInput.pug
  include ../../shared/ui/inputs/checkboxInput.pug

  block Variables

  .container 
    h1.page-title.login__title Join rafi 
    form.fillForm-form.login-form
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Email
        +textInput('Email', true, 'Email ')
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Password
        +textInput('password', true, '*********')
     
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        +checkboxInput('remember', false, 'remember', 'Remember me')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.submit-content
          button.btn.fillForm__submit Log in
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.info-content
          a.auth-forgot-link(href="./forgot.html") Forgot your password? 
          a.auth-dont-have(href="./forgot.html") Don't have an account? Sign up now!
          p.auth-policy While registering, logging in, or continuing, I agree to the <a href="">Rafi Terms</a> of Use and accept the <a href="./">Rafi Privacy Policy</a>. I consent to Rafi using my email address for marketing purposes. I can opt out at any time through <a href="./">my settings</a>


  include ../../widgets/footer/footer.pug

  <script src="https://unpkg.com/imask"></script>
  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="./auth.js" defer) 




