html

  include ./authVars.pug
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./auth.css")


  include ../../shared/ui/inputs/textInput.pug
  include ../../shared/ui/inputs/phoneInput.pug
  include ../../shared/ui/inputs/dropdownInput.pug
  include ../../shared/ui/inputs/dropdownWithSearch.pug
  include ../../shared/ui/inputs/imageInput.pug
  include ../../shared/ui/inputs/textAreaInput.pug
  include ../../shared/ui/inputs/checkboxInput.pug

  block Variables

  .container 
    h1.page-title.signup__title Join rafi 
    form.fillForm-form.signup-form
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Company name 
        +textInput('companyName', true, 'Company name')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name Who are you?
        +dropdownInput('WhoAreYou', true, 'Select here')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name Field
        div.many-choice
          +dropdownInput('Field', true, 'Select ')
          +dropdownInput('Field2', true, 'Select 2')
          +dropdownInput('Field3', true, 'Select 3')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Upload licenses
        +imageInput('licenses', true, true)
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Website (optional)
        +textInput('Website', false, 'https://website.org')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Phone
        +phoneInput('Phone', false, '+62-361-xxx-xxxx')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Additional information (optional)
        +textArea('textArea', 'textttt', false)
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        +checkboxInput('personal', true, 'personal', 'I consent to the processing of personal data')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        +checkboxInput('personal', true, 'personal2', 'I am familiar with the privacy policy')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        +checkboxInput('personal', false, 'personal3', 'I want to receive Rafi newsletters')
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.submit-content
          button.btn.fillForm__submit Submit



  include ../../widgets/footer/footer.pug

  <script src="https://unpkg.com/imask"></script>
  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="./auth.js" defer) 




