head
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  link(rel="stylesheet" href="../../shared/styles/global.css")
  link(rel="stylesheet" href="../../widgets/header/header.css")

body 
  header.header-sec
    .container 
      .header-top
        button.header-top__signBtn.signUp Sign Up
        button.header-top__signBtn.logIn Log In

      .header 
        a(href="/").header__logo
          img.header__logo-img(src="../../widgets/header/logo.svg")
        .header__preopen Pre-opening stage - registration and accommodation for free
        nav.header-nav 
          a.header-nav__item(href="/") Products 
          a.header-nav__item(href="/") Companies
          a.header-nav__item(href="/") Projects
          a.header-nav__item(href="/") About us
          a.header-nav__item(href="/") Favorites
          a.header-nav__item(href="/") Blog
        button.btn.header__join Join Rafi
