.header {
  &-top {
    display: flex;
    justify-content: flex-end;
    &__signBtn {
      color: var(--grey);
      font-size: 14px;
      font-weight: 500;
      &.signUp {
        margin-right: 40px;
      }
    }
  }

  &-sec {
    margin-bottom: 48px;
  }
  display: flex;
  align-items: center;
  margin-top: 15px;

  &__logo {
    width: 159px;
    height: 43px;
    margin-right: 20px;
    & img {
      object-fit: contain;
    }
  }

  &__preopen {
    width: 300px;
    padding: 14px 27px;
    background: var(--red);
    color: #fff;
    font-weight: 600;
    margin-right: 36px;
    border-radius: 15px;
  }

  &-nav {
    display: flex;
    align-items: center;
    &__item {
      display: block;
      font-size: 14px;
      color: var(--black);
      line-height: 24px;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__join {
    margin-left: auto;
    min-width: max-content;
    line-height: 24px;
  }
}

@media (max-width: 1280px) {
  .header-nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .header__logo{
    width: 120px;
    height: auto;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  .header__preopen {
    width: 200px;
    font-size: 14px;
    padding: 10px 18px;
  }

  .header__join {
    padding: 10px 16px;
  }

  .header__join {

  }
}

.burger-btn {
  display: none;
}

@media (max-width: 980px) {
  .header-nav {
    display: none;
  }
  .header-top {
    display: none;
  }
  .header__join {
    display: none;
  }
  
  .header__preopen {
    width: 320px;
  }

  .burger-btn {
    display: block;
    margin-left: auto;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    padding: 76px 16px 16px 16px;
    position: fixed;
    left: 0; top: 0;
    transform: translateY(-200%);
    height: 100vh;
    width: 100vw;
    transition: all .3s ease;
    background: #fff;
    z-index: 999;
    &.active {
      transform: none;
    }
    &__close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 16px;
      height: 16px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__item {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }
  }
}
.header__logo-img {
  &.mob {
    display: none;
  }
  
}

@media (max-width: 640px) {
  .header__preopen {
    padding: 2px 16px;
    font-size: 12px;
    max-width: 204px;
    margin-right: auto;
    margin-left: 0px;
    border-radius: 10px;
  }
  .header__logo {
    width: 35px;
    height: 35px;
    min-width: 35px;
    margin-right: 27px;
    &-img {
      &.mob {
        display: block;
      }
      &.desk {
        display: none;
      }
    }
  
  }
}



@media (max-width: 480px) {

}