block Variables 
  -
    var categories = [
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Dry mixes and primers',
            link: './subcategory.html',
          },
          {
            name: 'Sheet materials',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-2.png',
        title: 'Climate Control Solutions',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Ventilation systems and air purification',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-2.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-2.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-1.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
      {
        img: './img/category-2.png',
        title: 'Building materials',
        link: './subcategory.html',
        subcategories: [
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
          {
            name: 'Concrete',
            link: './subcategory.html',
          },
        ]
      },
    ]