html
  link(rel="stylesheet", href="../../shared/styles/nouislider.min.css")
  link(rel="stylesheet", href="./catalog.css")


  include ./catalogVars.pug
  include ../../widgets/header/header.pug
  
  
  block Variables

  include ../../shared/ui/inputs/checkboxInput.pug

  .container 
    h1.page-title.productsSubcategories__title Products
    form.catalog 
      .catalog-mob-top 
        a.catalog-mob-top__back(href="./")
          img(src="../../shared/img/backBlackArrow.svg", alt="") 
          span Back
        .catalog-mob-top__filter 
          img(src="../../shared/img/settings.svg", alt="")
      .catalog-left.overlayContent
        .catalog-left-content 
          .acc-btn.catalog-left__block--btn 
              span Categories 
              img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            a.catalog-left__block--link.back(href="./") 
              img(src="../../shared/img/redArrowBack.svg", alt="")
              span Back from category 
            a.catalog-left__block--link(href="./") category X
            a.catalog-left__block--link(href="./") category Z 
          
          .acc-btn.catalog-left__block--btn 
            span Length
            img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            +checkboxInput('length05', false, 'length05', '0.5m')
            +checkboxInput('length1', false, 'length1', '1m')
            +checkboxInput('length2', false, 'length2', '2m')
          .acc-btn.catalog-left__block--btn 
            span Length
            img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            +checkboxInput('length05', false, 'length05', '0.5m')
            +checkboxInput('length1', false, 'length1', '1m')
            +checkboxInput('length2', false, 'length2', '2m')
          .acc-btn.catalog-left__block--btn 
            span Length
            img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            +checkboxInput('length05', false, 'length05', '0.5m')
            +checkboxInput('length1', false, 'length1', '1m')
            +checkboxInput('length2', false, 'length2', '2m')
          .acc-btn.catalog-left__block--btn 
            span Length
            img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            +checkboxInput('length05', false, 'length05', '0.5m')
            +checkboxInput('length1', false, 'length1', '1m')
            +checkboxInput('length2', false, 'length2', '2m')
          .acc-btn.catalog-left__block--btn 
            span Price
            img(src="../../shared/img/arrowBottom.svg", alt="")
          .catalog-left__block--content
            .slideInput-wrapper 
              .slideInput
              .slideInput-fields
                div 
                  span from 
                  input.slideInput-fields__input.min(type="text" name="priceMin" data-min-value="10")
                div 
                  span to
                  input.slideInput-fields__input.max(type="text" name="priceMax" data-max-value="1000")

      .catalog-right 
        .catalog-top 
          .catalog-top-filter.catalog-top-filter__toggle
            input.catalog-top-filter__toggle--input(type="checkbox" name="license" id="license")
            label.catalog-top-filter__text.catalog-top-filter__toggle--text(for="license") Indonesian License

          .catalog-top-filter.catalog-top-filter__open(data-name="leng")
            .catalog-top-filter__text.catalog-top-filter__open--text Project size <img src="../../shared/img/bottomArrowBlack.svg">
            .catalog-top-filter.catalog-top-filter__open--menu.overlayContent(data-name="leng") 
              +checkboxInput('length051', false, 'length051', '0.5m 1')
              +checkboxInput('length11', false, 'length11', '1m 1')
              +checkboxInput('length21', false, 'length21', '2m 1')
              +checkboxInput('length231', false, 'length213', '2m 1')
      
          .catalog-top-filter.catalog-top-filter__toggle
            input.catalog-top-filter__toggle--input(type="checkbox" name="bali" id="bali")
            label.catalog-top-filter__text.catalog-top-filter__toggle--text(for="bali") Projects in Bali
        
          .catalog-top-filter.catalog-top-filter__open(data-name="any") 
            .catalog-top-filter__text.catalog-top-filter__open--text Project type <img src="../../shared/img/bottomArrowBlack.svg">
            .catalog-top-filter.catalog-top-filter__open--menu.overlayContent(data-name="any") 
              +checkboxInput('length051', false, 'length051', '0.5m 1')
              +checkboxInput('length11', false, 'length11', '1m 1')
              +checkboxInput('length21', false, 'length21', '2m 1')
              +checkboxInput('length22', false, 'length22', '2m 2')
        .catalog-items 
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-1.png", alt="")
            .catalog__item--title Air Conditioning and Mechanical Ventilation System design
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-2.png", alt="")
            .catalog__item--title Air Coal Venon System design
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17.png", alt="")
            .catalog__item--title Airign
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-1.png", alt="")
            .catalog__item--title Aitem design
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-2.png", alt="")
            .catalog__item--title Air 
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17.png", alt="")
            .catalog__item--title Airign
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-1.png", alt="")
            .catalog__item--title Air Conditioning and Mechanical Ventilation System design
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-2.png", alt="")
            .catalog__item--title Air Coal Venon System design
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17.png", alt="")
            .catalog__item--title Airign
          a.catalog__item(href="https:wwww.google.com")
            img.catalog__item--img(src="./img/Rectangle 17-1.png", alt="")
            .catalog__item--title Air Conditioning and Mechanical Ventilation System design
        include ../../widgets/pagination/pagination.pug
        +pagination('catalog-pagination')


  include ../../widgets/footer/footer.pug
  script(src="../../shared/lib/nouislider.min.js" defer) 
  script(src="../../shared/lib/accordion.js" defer) 
  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="catalog.js" defer) 

  
  

