block Variables 
   - 
    var products = [
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name5',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name55',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
    ]
     var products2 = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './product1.png',
        type: 'Product Type',
      },
    ]