html
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./help.css")

  block Variables

  include ../../shared/ui/inputs/emailInput.pug
  include ../../shared/ui/inputs/textareaInput.pug

  form.modal.qna-modal.overlayContent 
    button.modal__close.close-overlays 
      img.modal__close--img(src="../../shared/img/closeIconGrey.svg", alt="")
    
    h2.modal__title Ask a question 
    span.modal__input-text Where to send the response?
    +emailInput('email', true, 'E-mail')

    span.modal__input-text Your question
    +textArea('question', '', true)
    
    button.btn.modal__btn.close-overlays Confirm

  .container 
    h1.page-title.help__title frequently asked questions

    .acc-btn.help__btn 
      .help__btn--text Some kind of question 
      img.help__btn--arrow(src="../../pages/help/img/rightArrow.svg", alt="")
    .acc-panel.help__panel 
      p.help__panel--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt voluptate perspiciatis porro! Doloremque voluptatibus nulla beatae pariatur quas, consectetur ab amet sit odit consequuntur ea similique totam reprehenderit animi id aperiam illum vel, dolore quidem. Iste a ut commodi, sequi, atque pariatur ipsa assumenda illum officia suscipit sint, architecto distinctio!
    .acc-btn.help__btn 
      .help__btn--text Some kind of question 
      img.help__btn--arrow(src="../../pages/help/img/rightArrow.svg", alt="")
    .acc-panel.help__panel 
      p.help__panel--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt voluptate perspiciatis porro! Doloremque voluptatibus nulla beatae pariatur quas, consectetur ab amet sit odit consequuntur ea similique totam reprehenderit animi id aperiam illum vel, dolore quidem. Iste a ut commodi, sequi, atque pariatur ipsa assumenda illum officia suscipit sint, architecto distinctio!
    .acc-btn.help__btn 
      .help__btn--text Some kind of question 
      img.help__btn--arrow(src="../../pages/help/img/rightArrow.svg", alt="")
    .acc-panel.help__panel 
      p.help__panel--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt voluptate perspiciatis porro! Doloremque voluptatibus nulla beatae pariatur quas, consectetur ab amet sit odit consequuntur ea similique totam reprehenderit animi id aperiam illum vel, dolore quidem. Iste a ut commodi, sequi, atque pariatur ipsa assumenda illum officia suscipit sint, architecto distinctio!
    .acc-btn.help__btn 
      .help__btn--text Some kind of question 
      img.help__btn--arrow(src="../../pages/help/img/rightArrow.svg", alt="")
    .acc-panel.help__panel 
      p.help__panel--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt voluptate perspiciatis porro! Doloremque voluptatibus nulla beatae pariatur quas, consectetur ab amet sit odit consequuntur ea similique totam reprehenderit animi id aperiam illum vel, dolore quidem. Iste a ut commodi, sequi, atque pariatur ipsa assumenda illum officia suscipit sint, architecto distinctio!
    .acc-btn.help__btn 
      .help__btn--text Some kind of question 
      img.help__btn--arrow(src="../../pages/help/img/rightArrow.svg", alt="")
    .acc-panel.help__panel 
      p.help__panel--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt voluptate perspiciatis porro! Doloremque voluptatibus nulla beatae pariatur quas, consectetur ab amet sit odit consequuntur ea similique totam reprehenderit animi id aperiam illum vel, dolore quidem. Iste a ut commodi, sequi, atque pariatur ipsa assumenda illum officia suscipit sint, architecto distinctio!

  section.doYouNeedHelp-sec 
    .container 
      .doYouNeedHelp 
        .doYouNeedHelp__title Do you need help?
        button.btn.doYouNeedHelp__btn.open-modal(data-modal="qna-modal") Ask question 
  
  include ../../widgets/newHeights/newHeights.pug

      

  include ../../widgets/footer/footer.pug
  script(src="../../shared/lib/accordion.js") 




