mixin emailInput(name, required, placeholder)
  .input.input__text.valid-email-input
    input.input__text--field.input--field(type="text", name=name placeholder=`${placeholder || ''}` required=`${required || false}`)
