mixin textArea(name, placeholder, required)
  .input.input__textarea.valid-textarea-input 
    textarea.input__textarea--field.input--field(name=name, data-min-length="10" required=`${required || false}`)