html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}

button, a, * {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--black);
}

:root {
  --red: #d7282F;
  --black: #3e3e3e;
  --grey: #bababa;
  --greyBlue: #F2F3F7;
}

@font-face {
  font-family: "Grotesk";
  font-weight: 300;
  src: url("../fonts/OverusedGrotesk-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 400;
  src: url("../fonts/OverusedGrotesk-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 500;
  src: url("../fonts/OverusedGrotesk-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 600;
  src: url("../fonts/OverusedGrotesk-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 700;
  src: url("../fonts/OverusedGrotesk-Bold.woff2") format("woff2");
}
body {
  font-family: "Grotesk", sans-serif;
  font-weight: 500;
  color: var(--black);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px 36px;
  background: var(--red);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.page-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  line-height: 1.1;
  text-transform: uppercase;
}

.sec-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}

section, footer {
  margin-top: 100px;
}

.input-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.input-row__name {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  max-width: 400px;
  margin-top: 18px;
}
.input-row__name div {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  width: 100%;
}
.input-row > *:nth-child(2) {
  width: 763px;
  min-width: 763px;
  margin-left: 40px;
}
.input__text {
  height: 60px;
  display: flex;
  align-items: center;
  background: var(--greyBlue);
  border-radius: 15px;
}
.input__text--field {
  padding: 0px 39px;
  font-size: 20px;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

.dropdownInput {
  height: 60px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: auto;
}
.dropdownInput.active .dropdownInput__btn {
  border-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
}
.dropdownInput.active .dropdownInput__btn--arrow {
  transform: rotate(90deg);
}
.dropdownInput.active .dropdownInput__btn--preview {
  color: var(--red);
}
.dropdownInput.active .dropdownInput__panel {
  border-color: #e4e4e4;
  transform: none;
}
.dropdownInput__hidden {
  display: none;
}
.dropdownInput__btn {
  width: 100%;
  height: 100%;
  height: 60px;
  min-height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0px 39px;
  border: 1px solid #e4e4e4;
  transition: all 0.3s ease;
  z-index: 20;
  position: relative;
  cursor: pointer;
}
.dropdownInput__btn--arrow {
  transition: all 0.3s ease;
}
.dropdownInput__btn--preview {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.3s ease;
}
.dropdownInput__panel {
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  border-top: 0px;
  padding: 0px 39px;
  transition: all 0.3s ease;
  max-height: 0px;
  overflow: hidden;
  border-radius: 0px 0px 15px 15px;
  transform: translateY(-20px);
  z-index: 10;
}
.dropdownInput__panel--search {
  width: 100%;
  height: 60px;
  padding-left: 18px;
  font-size: 18px;
  background: var(--greyBlue);
  border-radius: 15px;
  margin: 12px 0px;
}
.dropdownInput__panel--item {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.imageInput {
  display: flex;
  flex-wrap: wrap;
}
.imageInput .new-photo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 5px;
}
.imageInput .new-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imageInput__field {
  display: none;
}
.imageInput__label {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--greyBlue);
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.imageInput__label img {
  width: 22px;
  height: 22px;
}

.input__textArea {
  height: 181px;
  background: var(--greyBlue);
  border-radius: 15px;
}
.input__textArea--field {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px 39px;
}

.input__checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input__checkbox--field {
  display: none;
}
.input__checkbox--label {
  position: relative;
  padding-left: 48px;
  min-height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input__checkbox--label::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background: var(--greyBlue);
  border-radius: 10px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.input__checkbox--label::after {
  content: "";
  background: url("../../shared/img/doneWhite.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  left: 16px;
  top: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(0.01);
}
.input__checkbox--field:checked + label::after {
  transform: translate(-50%, -50%);
}
.input__checkbox--field:checked + label::before {
  background: var(--red);
}

.input-row__name span {
  color: var(--grey);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

.input__text,
.input__textarea,
.dropdownInput,
.imageInput {
  position: relative;
}
.input__text::after,
.input__textarea::after,
.dropdownInput::after,
.imageInput::after {
  content: "The data is entered incorrectly";
  position: absolute;
  bottom: -14px;
  font-size: 12px;
  color: var(--red);
  left: 0;
  opacity: 0;
}
.input__text.error::after,
.input__textarea.error::after,
.dropdownInput.error::after,
.imageInput.error::after {
  opacity: 1;
}

.input__text,
.input__textarea {
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.input__text.error,
.input__textarea.error {
  border-color: var(--red);
}

.dropdownInput .dropdownInput__btn {
  transition: all 0.3s ease;
}

.dropdownInput.error .dropdownInput__btn {
  border-color: var(--red);
}

.imageInput.required-error::after {
  content: "File is required";
}

.imageInput.length-error::after {
  content: "Too many files!";
}

.input__checkbox label::before {
  border: 1px solid transparent;
}

.input__checkbox.error label::before {
  border: 1px solid var(--red);
}

@media (max-width: 640px) {
  .input__text {
    height: 48px;
    font-size: 14px;
  }
  .input-row__name {
    font-size: 16px;
  }
  .dropdownInput__btn {
    height: 48px;
    padding: 0px 19px;
  }
  .dropdownInput__btn--arrow {
    width: 6px;
  }
  .dropdownInput__btn--preview {
    font-size: 14px;
  }
  .dropdownInput__panel {
    padding: 0px 19px;
  }
  .dropdownInput__panel--item {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .input__text--field {
    padding: 0px 19px;
    font-size: 14px;
  }
  .imageInput__label {
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }
  .new-photo {
    border-radius: 12px;
  }
  .input__checkbox--label {
    font-size: 14px;
    padding-left: 37px;
  }
  .input__checkbox--label::before {
    width: 25px;
    height: 25px;
    border-radius: 6px;
  }
  .input__checkbox--label::after {
    left: 13px;
  }
  .fillForm__submit {
    width: 100%;
  }
  .submit-content {
    margin-top: 0px !important;
  }
  .imageInput .new-photo {
    width: 48px;
    height: 48px;
  }
  .input__textArea {
    height: 120px;
  }
}
.many-choice > * {
  margin-bottom: 30px;
}

.fillForm-form {
  margin-top: 40px;
}
.fillForm__submit {
  margin-right: auto;
  padding: 13px 110px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.fillForm-row__content.subtext {
  margin-top: -10px !important;
}
.fillForm-row__content.subtext * {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--grey);
}

@media (max-width: 1280px) {
  .input-row > *:nth-child(2) {
    width: 500px;
    min-width: 500px;
  }
}
@media (max-width: 980px) {
  .fillForm-row {
    margin-bottom: 16px;
  }
  .many-choice > * {
    margin-bottom: 16px;
  }
  .input-row > *:nth-child(2) {
    width: 360px;
    min-width: 360px;
  }
}
@media (max-width: 768px) {
  .fillForm-row {
    flex-direction: column;
    margin-bottom: 27px;
  }
  .input-row > *:nth-child(2) {
    width: 100%;
    min-width: 100%;
    margin-left: 0px;
    margin-top: 16px;
  }
  .input-row__name {
    margin-top: 0px;
  }
  .input__checkbox {
    margin: 0px !important;
  }
  .input__checkbox__name {
    margin-top: 0px !important;
  }
  .fillForm-form {
    margin-top: 24px;
  }
}
@media (max-width: 640px) {
  .fillForm-row__content.subtext {
    margin-top: -20px !important;
    line-height: 1.2;
  }
  .fillForm-row__content.subtext * {
    font-size: 14px;
  }
}
.fillForm__title {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}

.fillForm-row__content.with-subtext span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--grey);
}

.bigPhotoInput__field {
  display: none;
}
.bigPhotoInput__label {
  display: flex;
  cursor: pointer;
}
.bigPhotoInput__label--photo {
  width: 190px;
  height: 190px;
  border-radius: 15px;
  margin-right: 19px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bigPhotoInput__label--info {
  font-size: 14px;
  line-height: 1.2;
  color: var(--grey);
}

@media (max-width: 640px) {
  .fillForm__title {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .bigPhotoInput__label--photo {
    width: 136px;
    height: 136px;
    margin-right: 12px;
  }
  .bigPhotoInput__label--info {
    font-size: 12px;
  }
}
.together {
  width: 100%;
  border-radius: 40px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  padding: 48px 112px;
}
.together__title {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}
.together__description {
  font-weight: 400;
  font-size: 20px;
  margin: 24px auto 0 auto;
  text-align: center;
  color: #fff;
}
.together__description * {
  color: #fff;
}
.together__description b {
  font-weight: 700;
}

.products {
  margin-top: 40px;
  height: -moz-max-content;
  height: max-content;
}
.products-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-top-btns {
  display: flex;
  align-items: center;
}
.products-top-btns__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--greyBlue);
  border-radius: 50%;
  cursor: pointer;
}
.products-top-btns__prev {
  margin-right: 24px;
}
.products__all {
  margin: 32px auto 0;
  width: 269px;
  height: 52px;
  padding: 0px;
  font-size: 16px;
  text-align: center;
  line-height: 52px;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: var(--greyBlue);
  padding-bottom: 16px;
  height: -moz-max-content;
  height: max-content;
}
.product__image {
  width: 100%;
  height: 212px;
}
.product__type {
  margin-top: 16px;
  color: var(--grey);
  font-size: 14px;
  line-height: 1.5;
  padding: 0px 16px;
}
.product__title {
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.5;
  padding: 0px 16px;
}
.product__description {
  margin-top: 4px;
  line-height: 1.5;
  font-size: 16px;
  padding: 0px 16px;
}

.previl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.previl-item {
  width: calc(50% - 12px);
  padding: 46px 40px;
  display: flex;
  flex-direction: column;
  background: var(--greyBlue);
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 24px;
}
.previl-item.full-width {
  width: 100%;
}
.previl-item__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.previl-item__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 16px;
  transition: all 0.3s ease;
}

.doYouNeedHelp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 163px;
  padding: 0px 53px;
  background: var(--red);
  border-radius: 20px;
}
.doYouNeedHelp-sec {
  margin-top: 48px;
}
.doYouNeedHelp__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}
.doYouNeedHelp__btn {
  background: #fff;
  width: 269px;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  color: var(--red);
}

.favorites-btn {
  padding: 11px 21px;
  display: flex;
  align-items: center;
  background: var(--greyBlue);
  border-radius: 12px;
  cursor: pointer;
}
.favorites-btn__img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
.favorites-btn span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.fav-btn img {
  transition: all 0.3s ease;
  filter: invert(21%) sepia(0%) saturate(1%) hue-rotate(95deg) brightness(94%) contrast(85%);
}
.fav-btn.active img {
  filter: invert(71%) sepia(79%) saturate(566%) hue-rotate(358deg) brightness(100%) contrast(105%);
}

.tabs__item {
  cursor: pointer;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  background: #fff;
  width: 622px;
  padding: 54px 24px 24px 24px;
  z-index: 999;
  display: none;
}
.modal.active {
  display: block;
}
.modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 23px;
  height: 23px;
  padding: 0px;
  cursor: pointer;
}
.modal__close img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
}
.modal__description {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  max-width: 389px;
}
.modal__btn {
  width: 100%;
  padding: 18px 0px;
  margin-top: 40px;
}
.modal__input-text {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
}
.modal .input__text--field {
  padding-left: 19px;
}

.success-modal__img {
  width: 62px;
  height: 62px;
  display: block;
  margin: 0 auto;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 21;
  opacity: 0;
  transition: opacity 0.35s ease;
  transform: translateY(-200%);
}
.modal-bg.active {
  opacity: 1;
  transform: none;
}

@media (max-width: 640px) {
  .modal {
    width: calc(100% - 32px);
    padding: 40px 20px 20px 20px;
    border-radius: 30px;
  }
  .success-modal__img {
    width: 40px;
    height: 40px;
  }
  .modal__title {
    font-size: 28px;
  }
  .modal__description {
    font-size: 16px;
  }
  .modal__btn {
    margin-top: 24px;
  }
  .modal__close {
    width: 16px;
    height: 16px;
  }
}
.acc-panel {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.35s ease;
}

@media (min-width: 1025px) {
  .previl-item:hover {
    background: var(--red);
  }
  .previl-item:hover .previl-item__title {
    color: #fff;
  }
  .previl-item:hover .previl-item__description {
    color: #fff;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 900px;
  }
  .together__title {
    font-size: 34px;
  }
  .together__description {
    font-size: 18px;
  }
  .together {
    padding: 38px 70px;
  }
  .product__image {
    height: auto;
    aspect-ratio: 38/21;
  }
}
@media (max-width: 980px) {
  .container {
    width: 700px;
  }
  .page-title {
    font-size: 32px;
  }
  .sec-title {
    font-size: 32px;
  }
  section, footer {
    margin-top: 75px;
  }
  .together {
    padding: 20px 50px;
    border-radius: 20px;
  }
  .together__title {
    font-size: 28px;
  }
  .previl-item {
    padding: 24px 20px;
  }
  .doYouNeedHelp__title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 600px;
  }
  .doYouNeedHelp {
    height: 120px;
    padding: 0px 20px;
  }
  .doYouNeedHelp__btn {
    width: auto;
    padding: 0px 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
  }
  .previl-item {
    width: 100%;
    border-radius: 30px;
    padding: 32px 20px;
  }
  .doYouNeedHelp-sec {
    margin-top: 24px;
  }
  .doYouNeedHelp__title {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .page-title {
    font-size: 28px;
  }
  .btn {
    font-size: 16px;
  }
  .together {
    padding: 16px;
    border-radius: 30px;
  }
  .together__title {
    font-size: 28px;
  }
  .together__description {
    font-size: 16px;
  }
  .sec-title {
    font-size: 28px;
    line-height: 1.1;
  }
  .products-top-btns {
    display: none;
  }
  .products {
    margin-top: 24px;
    width: 100vw;
    transform: translateX(-16px);
    padding-left: 16px;
    padding-right: 80px;
  }
  .products__all {
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 52px;
    font-size: 16px;
    margin-top: 24px;
  }
  .doYouNeedHelp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 16px;
  }
  .doYouNeedHelp__title {
    font-size: 28px;
  }
  .doYouNeedHelp__btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    max-width: 320px;
    margin-top: 24px;
  }
  .favorites-btn {
    padding: 10px;
    border-radius: 12px;
  }
  .favorites-btn span {
    display: none;
  }
  .favorites-btn__img {
    width: 13px;
    height: 13px;
    margin: 0px;
  }
  .dropdownInput__panel--search {
    height: 32px;
    font-size: 12px;
    padding-left: 8px;
    border-radius: 8px;
  }
}
.listPage a {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
}/*# sourceMappingURL=global.css.map */