@import 'reset.scss';
@import 'vars.scss';
@import 'inputs.scss';

@font-face {
  font-family: 'Grotesk';
  font-weight: 300;
  src:  url('../fonts/OverusedGrotesk-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 400;
  src:  url('../fonts/OverusedGrotesk-Book.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 500;
  src:  url('../fonts/OverusedGrotesk-Medium.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 600;
  src:  url('../fonts/OverusedGrotesk-SemiBold.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 700;
  src:  url('../fonts/OverusedGrotesk-Bold.woff2')  format('woff2');
}

body {
  font-family: 'Grotesk', sans-serif;
  font-weight: 500;
  color: var(--black);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px 36px;
  background: var(--red);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.page-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  line-height: 1.1;
  text-transform: uppercase;
}

.sec-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}

section,footer {
  margin-top: 100px;
}

// together section

.together {
  width: 100%;
  border-radius: 40px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  padding: 48px 112px;
  &__title {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
  }
  &__description {
    font-weight: 400;
    font-size: 20px;
    margin: 24px auto 0 auto;
    text-align: center;
    color: #fff;
    & * {
      color: #fff;
    }
    & b {
      font-weight: 700;
    }
    // width: 640px;
  }
}

// products section

.products {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btns {
      display: flex;
      align-items: center;
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: var(--greyBlue);
        border-radius: 50%;
        cursor: pointer;
      }
      &__prev {
        margin-right: 24px;
      }
    }
  }

  margin-top: 40px;
  height: max-content;
  &__all {
    margin: 32px auto 0;
    width: 269px;
    height: 52px;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 52px;

  }
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: var(--greyBlue);
  padding-bottom: 16px;
  height: max-content;
  &__image {
    width: 100%;
    height: 212px;
  }
  &__type {
    margin-top: 16px;
    color: var(--grey);
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 16px;
  }
  &__title {
    margin-top: 4px;
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 16px;
  }
  &__description {
    margin-top: 4px;
    line-height: 1.5;
    font-size: 16px;
    padding: 0px 16px;
  }
}


// previlegion sec

.previl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-item {
    width: calc(50% - 12px);
    padding: 46px 40px;
    display: flex;
    flex-direction: column;
    background: var(--greyBlue);
    border-radius: 20px;
    transition: all .3s ease;
    margin-bottom: 24px;
    &.full-width {
      width: 100%;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      transition: all .3s ease;
      text-transform: uppercase;
    }
    &__description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 16px;
      transition: all .3s ease;
    }
   
  }
}

// DoYouNeedHelp section

.doYouNeedHelp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 163px;
  padding: 0px 53px;
  background: var(--red);
  border-radius: 20px;
  &-sec {
    margin-top: 48px;
  }
  &__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
  }
  &__btn {
    background: #fff;
    width: 269px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    color: var(--red);
  }
}


.favorites-btn {
  padding: 11px 21px;
  display: flex;
  align-items: center;
  background: var(--greyBlue);
  border-radius: 12px;
  cursor: pointer;
  &__img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
  }
  & span {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
}


.fav-btn {
  & img {
    transition: all .3s ease;
    filter: invert(21%) sepia(0%) saturate(1%) hue-rotate(95deg) brightness(94%) contrast(85%);
  }
  &.active img {
    filter: invert(71%) sepia(79%) saturate(566%) hue-rotate(358deg) brightness(100%) contrast(105%);
  }
}
.tabs__item {
  cursor: pointer;
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}


// accordion

.acc-panel {
  overflow: hidden;
  max-height: 0px;
  transition: max-height .35s ease;
}


// hover
@media (min-width: 1025px) {
  .previl-item:hover {
    background: var(--red);
    & .previl-item__title {
      color: #fff;
    }
    & .previl-item__description {
      color: #fff;
    }
  }
}


// Global adaptive


@media (max-width: 1280px) {
  .container {
    width: 900px;
  }

  .together__title {
    font-size: 34px;
  }
  .together__description {
    font-size: 18px;
  }

  .together {
    padding: 38px 70px;
  }



  .product {
    &__image {
      height: auto;
      aspect-ratio: 38/21;
    }
  }
}


@media (max-width: 980px) {

  .container {
    width: 700px;
  }

  .page-title {
    font-size: 32px;
  }

  .sec-title {
    font-size: 32px;
  }

  section,footer {
    margin-top: 75px;
  }


  .together {
    padding: 20px 50px;
    border-radius: 20px;
  }
  .together__title {
    font-size: 28px;
  }

  .previl-item {
    padding: 24px 20px;
  }


  .doYouNeedHelp__title {
    font-size: 32px;
  }
  
}

@media (max-width: 768px) {

  .container {
    width: 600px;
  }

  .doYouNeedHelp {
    height: 120px;
    padding: 0px 20px;
  }
  .doYouNeedHelp__btn {
    width: auto;
    padding: 0px 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
  }

  .previl-item {
    width: 100%;
    border-radius: 30px;
    padding: 32px 20px;

  }

  .doYouNeedHelp-sec {
    margin-top: 24px;
  }

  .doYouNeedHelp__title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {

  .page-title {
    font-size: 28px;
  }

  .btn {
    font-size: 16px;
  }

  .together {
    padding: 16px;
    border-radius: 30px;
    &__title {
      font-size: 28px;
    }
    &__description {
      font-size: 16px;
    }
  }

  .sec-title {
    font-size: 28px;
    line-height: 1.1;
  }


  .products-top-btns {
    display: none;
  }

  .products {
    margin-top: 24px;
    width: 100vw;
    transform: translateX(-16px);
    padding-left: 16px;
    padding-right: 80px;
  }

  .products__all {
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 52px;
    font-size: 16px;
    margin-top: 24px;
  }

  .doYouNeedHelp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 16px;
    &__title {
      font-size: 28px;
    }
    &__btn {
      height: 50px;
      line-height: 50px;
      width: 100%;
      max-width: 320px;
      margin-top: 24px;
    }
  }


  .favorites-btn{
    padding: 10px;
    border-radius: 12px;
  }

  .favorites-btn span{
    display: none;
  }
  .favorites-btn__img{
    width: 13px;
    height: 13px;
    margin: 0px;
  }

}



.input {
  &-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    &__name {
      font-size: 18px;
      line-height: 1.4;
      font-weight: 500;
      max-width: 300px;
      margin-top: 18px;
      & div {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 500;
        max-width: 300px;
      }
    }
    & > *:nth-child(2) {
      width: 763px;
      min-width: 763px;
      margin-left: 40px;
    }
  }


  &__text {
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--greyBlue);
    border-radius: 15px;
    &--field {
      padding: 0px 39px;
      font-size: 20px;
      line-height: 1.2;
      width: 100%;
      height: 100%;
    }
  }
}

.dropdownInput {
  height: 60px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: auto;
  &.active {
    & .dropdownInput__btn {
      border-bottom: 0px;
      border-radius: 15px 15px 0px 0px;
      &--arrow {
        transform: rotate(90deg);
      }
      &--preview {
        color: var(--red);
      }
    }
    & .dropdownInput__panel {
      border-color: #e4e4e4;
      transform: none;
    }
  }
  &__hidden {
    display: none;
  }
  &__btn {
    width: 100%;
    height: 100%;
    height: 60px;
    min-height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0px 39px;
    border: 1px solid #e4e4e4;
    transition: all .3s ease;
    z-index: 20;
    position: relative;
    cursor: pointer;
    &--arrow {
      transition: all .3s ease;
    }
    &--preview {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      transition: all .3s ease;
    }
  }
  &__panel {
    width: 100%;
    background: #fff;
    border: 1px solid transparent;
    border-top: 0px;
    padding: 0px 39px;
    transition: all .3s ease;
    max-height: 0px;
    overflow: hidden;
    border-radius: 0px 0px 15px 15px;
    transform: translateY(-20px);
    z-index: 10;

    &--item {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.imageInput {
  display: flex;
  & .new-photo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__field {
    display: none;
  }
  &__label {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--greyBlue);
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
    & img {
      width: 22px;
      height: 22px;
    }
  }
}

.input__textArea {
  height: 181px;
  background: var(--greyBlue);
  border-radius: 15px;
  &--field {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px 39px;
  }
}

.input__checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--field {
    display: none;
  }
  &--label {
    position: relative;
    padding-left: 48px;
    min-height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      background: var(--greyBlue);
      border-radius: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: var(--red);
      border-radius: 10px;
      left: 16px;
      top: 50%;
      transition: all .3s ease;
      transform: translate(-50%, -50%) scale(0.01);
    }
  }
  &--field:checked + label::after {
    transform: translate(-50%, -50%);
  }
}