@import 'reset.scss';
@import 'vars.scss';

@font-face {
  font-family: 'Grotesk';
  font-weight: 300;
  src:  url('../fonts/OverusedGrotesk-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 400;
  src:  url('../fonts/OverusedGrotesk-Book.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 500;
  src:  url('../fonts/OverusedGrotesk-Medium.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 600;
  src:  url('../fonts/OverusedGrotesk-SemiBold.woff2')  format('woff2');
}
@font-face {
  font-family: 'Grotesk';
  font-weight: 700;
  src:  url('../fonts/OverusedGrotesk-Bold.woff2')  format('woff2');
}

body {
  font-family: 'Grotesk', sans-serif;
  font-weight: 500;
  color: var(--black);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 10px 36px;
  background: var(--red);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.header {
  &-top {
    display: flex;
    justify-content: flex-end;
    &__signBtn {
      color: var(--grey);
      font-size: 14px;
      font-weight: 500;
      &.signUp {
        margin-right: 40px;
      }
    }
  }

  display: flex;
  align-items: center;
  margin-top: 15px;

  &__logo {
    width: 159px;
    height: 43px;
    margin-right: 20px;
    & img {
      object-fit: contain;
    }
  }

  &__preopen {
    width: 300px;
    padding: 14px 27px;
    background: var(--red);
    color: #fff;
    font-weight: 600;
    margin-right: 36px;
    border-radius: 15px;
  }

  &-nav {
    display: flex;
    align-items: center;
    &__item {
      display: block;
      font-size: 14px;
      color: var(--black);
      line-height: 24px;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__join {
    margin-left: auto;
    min-width: max-content;
    line-height: 24px;
  }
}

.sec-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}

section {
  margin-top: 100px;
}

// together section

.together {
  width: 100%;
  border-radius: 40px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  padding: 48px 112px;
  &__title {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
  }
  &__description {
    font-weight: 400;
    font-size: 20px;
    margin: 24px auto 0 auto;
    text-align: center;
    color: #fff;
    // width: 640px;
  }
}

// products section

.products {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btns {
      display: flex;
      align-items: center;
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: var(--greyBlue);
        border-radius: 50%;
        cursor: pointer;
      }
      &__prev {
        margin-right: 24px;
      }
    }
  }

  margin-top: 40px;
  height: max-content;
  &__all {
    margin: 32px auto 0;
    width: 269px;
    height: 52px;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 52px;

  }
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: var(--greyBlue);
  padding-bottom: 16px;
  height: max-content;
  &__image {
    width: 100%;
    height: 212px;
  }
  &__type {
    margin-top: 16px;
    color: var(--grey);
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 16px;
  }
  &__title {
    margin-top: 4px;
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 16px;
  }
  &__description {
    margin-top: 4px;
    line-height: 1.5;
    font-size: 16px;
    padding: 0px 16px;
  }
}



