html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}

button, a, * {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--black);
}

:root {
  --red: #d7282F;
  --black: #3e3e3e;
  --grey: #bababa;
  --greyBlue: #F2F3F7;
}

@font-face {
  font-family: "Grotesk";
  font-weight: 300;
  src: url("../fonts/OverusedGrotesk-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 400;
  src: url("../fonts/OverusedGrotesk-Book.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 500;
  src: url("../fonts/OverusedGrotesk-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 600;
  src: url("../fonts/OverusedGrotesk-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Grotesk";
  font-weight: 700;
  src: url("../fonts/OverusedGrotesk-Bold.woff2") format("woff2");
}
body {
  font-family: "Grotesk", sans-serif;
  font-weight: 500;
  color: var(--black);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 10px 36px;
  background: var(--red);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.page-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  line-height: 1.1;
  text-transform: uppercase;
}

.sec-title {
  font-size: 48px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
}

section, footer {
  margin-top: 100px;
}

.together {
  width: 100%;
  border-radius: 40px;
  background: var(--red);
  display: flex;
  flex-direction: column;
  padding: 48px 112px;
}
.together__title {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}
.together__description {
  font-weight: 400;
  font-size: 20px;
  margin: 24px auto 0 auto;
  text-align: center;
  color: #fff;
}
.together__description * {
  color: #fff;
}
.together__description b {
  font-weight: 700;
}

.products {
  margin-top: 40px;
  height: -moz-max-content;
  height: max-content;
}
.products-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-top-btns {
  display: flex;
  align-items: center;
}
.products-top-btns__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--greyBlue);
  border-radius: 50%;
  cursor: pointer;
}
.products-top-btns__prev {
  margin-right: 24px;
}
.products__all {
  margin: 32px auto 0;
  width: 269px;
  height: 52px;
  padding: 0px;
  font-size: 16px;
  text-align: center;
  line-height: 52px;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: var(--greyBlue);
  padding-bottom: 16px;
  height: -moz-max-content;
  height: max-content;
}
.product__image {
  width: 100%;
  height: 212px;
}
.product__type {
  margin-top: 16px;
  color: var(--grey);
  font-size: 14px;
  line-height: 1.5;
  padding: 0px 16px;
}
.product__title {
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.5;
  padding: 0px 16px;
}
.product__description {
  margin-top: 4px;
  line-height: 1.5;
  font-size: 16px;
  padding: 0px 16px;
}

.previl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.previl-item {
  width: calc(50% - 12px);
  padding: 46px 40px;
  display: flex;
  flex-direction: column;
  background: var(--greyBlue);
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 24px;
}
.previl-item.full-width {
  width: 100%;
}
.previl-item__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.previl-item__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 16px;
  transition: all 0.3s ease;
}

.doYouNeedHelp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 163px;
  padding: 0px 53px;
  background: var(--red);
  border-radius: 20px;
}
.doYouNeedHelp-sec {
  margin-top: 48px;
}
.doYouNeedHelp__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}
.doYouNeedHelp__btn {
  background: #fff;
  width: 269px;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  color: var(--red);
}

.favorites-btn {
  padding: 11px 21px;
  display: flex;
  align-items: center;
  background: var(--greyBlue);
  border-radius: 12px;
  cursor: pointer;
}
.favorites-btn__img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
.favorites-btn span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.acc-panel {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.35s ease;
}

@media (min-width: 1025px) {
  .previl-item:hover {
    background: var(--red);
  }
  .previl-item:hover .previl-item__title {
    color: #fff;
  }
  .previl-item:hover .previl-item__description {
    color: #fff;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 900px;
  }
  .together__title {
    font-size: 34px;
  }
  .together__description {
    font-size: 18px;
  }
  .together {
    padding: 38px 70px;
  }
  .product__image {
    height: auto;
    aspect-ratio: 38/21;
  }
}
@media (max-width: 980px) {
  .container {
    width: 700px;
  }
  .page-title {
    font-size: 32px;
  }
  .sec-title {
    font-size: 32px;
  }
  section, footer {
    margin-top: 75px;
  }
  .together {
    padding: 20px 50px;
    border-radius: 20px;
  }
  .together__title {
    font-size: 28px;
  }
  .previl-item {
    padding: 24px 20px;
  }
  .doYouNeedHelp__title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 600px;
  }
  .doYouNeedHelp {
    height: 120px;
    padding: 0px 20px;
  }
  .doYouNeedHelp__btn {
    width: auto;
    padding: 0px 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
  }
  .previl-item {
    width: 100%;
    border-radius: 30px;
    padding: 32px 20px;
  }
  .doYouNeedHelp-sec {
    margin-top: 24px;
  }
  .doYouNeedHelp__title {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .page-title {
    font-size: 28px;
  }
  .btn {
    font-size: 16px;
  }
  .together {
    padding: 16px;
    border-radius: 30px;
  }
  .together__title {
    font-size: 28px;
  }
  .together__description {
    font-size: 16px;
  }
  .sec-title {
    font-size: 28px;
    line-height: 1.1;
  }
  .products-top-btns {
    display: none;
  }
  .products {
    margin-top: 24px;
    width: 100vw;
    transform: translateX(-16px);
    padding-left: 16px;
    padding-right: 80px;
  }
  .products__all {
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 52px;
    font-size: 16px;
    margin-top: 24px;
  }
  .doYouNeedHelp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 16px;
  }
  .doYouNeedHelp__title {
    font-size: 28px;
  }
  .doYouNeedHelp__btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    max-width: 320px;
    margin-top: 24px;
  }
  .favorites-btn {
    padding: 10px;
    border-radius: 12px;
  }
  .favorites-btn span {
    display: none;
  }
  .favorites-btn__img {
    width: 13px;
    height: 13px;
    margin: 0px;
  }
}/*# sourceMappingURL=global.css.map */