.j {
  &advantages {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 23px;
      }
      &__why {
        width: 165px;
        min-width: 165px;
        padding: 16px 0px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background: var(--red);
        &-item {
          color: #fff;
          text-align: center;
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 16px;
          }

        }
      }
    }
  }
  &success {
      &__title {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.25;
        margin-top: 28px;
        & b {
          font-weight: 700;
        }
      }
      &__text {
        font-size: 20px;
        margin-top: 8px;
        font-weight: 500;
        & a {
          color: var(--red);
          text-decoration: underline;
          font-weight: 700;
        }
    }
  }


  &ready {
    width: 612px;
    margin: 0 auto;
    &__title {
      text-align: center;
    }
    &__description {
      margin-top: 24px;
      font-size: 18px;
      text-align: center;
    }
    &__btn {
      width: 269px;
      max-width: 269px;
      text-align: center;
      padding: 13px 0px;
      margin: 0 auto;
      margin-top: 32px;
    }
  }
} 


.partners {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  &-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 242px;
    &__img {
      width: 206px;
      height: 206px;

    }
    &__title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 24px;
      text-transform: uppercase;
      text-align: center;
    }
    &__description {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@media (max-width: 980px) {
  .partners-item {
    width: calc(100% / 4 - 10px);
  }
  .partners-item__img {
    width: 100%;
    max-width: 200px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .partners-item__title {
    font-size: 16px;
  }

  .partners-item__description {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .jsuccess__title {
    font-size: 20px;
  }
  .jsuccess__text {
    font-size: 18px;
  }
  .partners {
    flex-wrap: wrap;
  }
  .partners-item {
    width: calc(50% - 20px);
    margin-bottom: 16px;
  }

  .jready {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .jadvantages-item {
    flex-direction: column;
    &__why {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 16px;
    }
  }

  .jready__description {
    margin-top: 16px;
  }

  .jready__btn {
    width: 100%;
    margin-top: 24px;
    max-width: 100%;
    height: 52px;
    font-size: 16px;
    padding: 0px;
    line-height: 52px;
  }
}

@media (max-width: 480px) {

  .jadvantages {
    margin-top: 24px;
  }

  .jadvantages-item {
    margin-bottom: 32px;
  }
  .jadvantages-item__why-item {
    font-size: 18px;
  }
  .jadvantages-item__text {
    font-size: 14px;
  }
  .jsuccess__title {
    margin-top: 0px;
  }

  .partners__title {
    text-align: center;
  }

  .partners-item {
    width: 100%;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0px;
    }
    &__img {
      max-width: 140px;
      max-height: 140px;
    }
    &__title {
      text-align: center;
      font-size: 18px;
    }
    &__description {
      text-align: center;
      font-size: 16px;
    }
  }
}