html
  link(rel="stylesheet" href="./join.css")


  include ./joinVars.pug
  include ../../widgets/header/header.pug

  block Variables

  .container 
    h1.join__title  Join Rafi as a Partner and Gain Exclusive Benefits to Elevate Your Business!
    .jadvantages 
      .jadvantages-item 
        .jadvantages-item__why 
          span.jadvantages-item__why-item Expanded
          span.jadvantages-item__why-item Product
          span.jadvantages-item__why-item Showcase
        .jadvantages-item__text Showcase your full range of products and services on the Rafi platform without limitations. This allows you to broaden your offerings and reach a wider audience of potential customers, increasing your visibility and sales opportunities
      .jadvantages-item 
        .jadvantages-item__why 
          span.jadvantages-item__why-item Personalized
          span.jadvantages-item__why-item Analytics
          span.jadvantages-item__why-item Dashboard
        .jadvantages-item__text Gain access to a personalized analytics dashboard designed to provide valuable insights into your marketing efforts. With data-driven insights, you can optimize your strategies, identify trends, and make informed decisions to drive growth and maximize your business potential
      .jadvantages-item 
        .jadvantages-item__why 
          span.jadvantages-item__why-item Dedicated
          span.jadvantages-item__why-item Expert Support
        .jadvantages-item__text Receive dedicated support from Rafi's expert team to ensure your success on the platform. Whether you need assistance with setting up your account, optimizing your listings, or navigating the platform features, our team is here to help you every step of the way.
      .jadvantages-item 
        .jadvantages-item__why 
          span.jadvantages-item__why-item Expert Article
          span.jadvantages-item__why-item Publication
        .jadvantages-item__text Establish yourself as an industry leader by sharing your insights and expertise with our engaged audience through Rafi's free expert article publication feature. This opportunity allows you to elevate your brand, build credibility, and attract potential customers who value your knowledge and experience.
      .jadvantages-item 
        .jadvantages-item__why 
          span.jadvantages-item__why-item Exclusive
          span.jadvantages-item__why-item Community
          span.jadvantages-item__why-item Access
        .jadvantages-item__text Join our vibrant Rafi community and gain access to exclusive networking events, valuable resources, and collaborative opportunities. Connect with like-minded professionals and industry experts, share best practices, and explore partnership opportunities to further grow your business.


  include ../../widgets/footer/footer.pug
  script(src="join.js" defer) 




