html

  include ./addingVars.pug
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./adding.css")


  include ../../shared/ui/inputs/textInput.pug
  include ../../shared/ui/inputs/dropdownInput.pug
  include ../../shared/ui/inputs/dropdownWithSearch.pug
  include ../../shared/ui/inputs/imageInput.pug
  include ../../shared/ui/inputs/textAreaInput.pug
  include ../../shared/ui/inputs/checkboxInput.pug

  block Variables

  .container 
    h1.page-title.addProject__title Add your product
    form.fillForm-form.addProject-form
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name.with-subtext
          div First photo
          span It is possible to add up to 1 photos
        +imageInput('photos', true, false)

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name.with-subtext
          div Additional photos 
          span It is possible to add up to 20 photos
        +imageInput('photos2', false, true)
      
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Project name
        +textInput('productName', true, 'Product name')

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Project description
        +textArea('textArea', 'textttt', true)

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name Category
        +dropdownInput('category', true, 'Select here')
    
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.submit-content
          button.btn.fillForm__submit Submit



  include ../../widgets/footer/footer.pug

  <script src="https://unpkg.com/imask"></script>
  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="./adding.js" defer) 




