html

  include ./addingVars.pug
  include ../../widgets/header/header.pug
  link(rel="stylesheet" href="./adding.css")


  include ../../shared/ui/inputs/textInput.pug
  include ../../shared/ui/inputs/dropdownInput.pug
  include ../../shared/ui/inputs/dropdownWithSearch.pug
  include ../../shared/ui/inputs/imageInput.pug
  include ../../shared/ui/inputs/textAreaInput.pug
  include ../../shared/ui/inputs/checkboxInput.pug

  block Variables

  .container 
    h1.page-title.addProduct__title Add your product
    form.fillForm-form.addProduct-form
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name.with-subtext
          div Photos 
          span It is possible to add up to 5 photos
        +imageInput('photos', true, true)
      
      .fillForm-row.input-row 
        .fillForm-row__name.input-row__name Product name
        +textInput('productName', true, 'Product name')

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div Product description
        +textArea('textArea', 'textttt', true)

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name Category
        +dropdownInput('category', true, 'Select here')
      
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name 
          div Colours 
          span.open-modal Write to us if you haven't found the right color.
        +dropdownInput('colours', true, 'Colours')

      .fillForm-row.input-row
        .fillForm-row__name.input-row__name 
          div Specifications 
          span.open-modal Select the required fields and write the appropriate characteristics
        +textInput('Specs', true, 'Specs')
    
      .fillForm-row.input-row
        .fillForm-row__name.input-row__name
          div 
        .fillForm-row__content.submit-content
          button.btn.fillForm__submit Submit



  include ../../widgets/footer/footer.pug

  <script src="https://unpkg.com/imask"></script>
  script(src="../../shared/lib/inputsController.js" defer) 
  script(src="./adding.js" defer) 




