link(rel="stylesheet", href="../../widgets/newHeights/newHeights.css")

section.newHeights-sec 
    .container 
      .newHeights 
        .newHeights-content 
          h3.page-title.newHeights-content__title Ready to take your business to new heights?
          p.newHeights-content__text It's easy! Simply sign up and create your company profile to start reaching potential clients today!
          button.btn.newHeights-content__btn Join us
        img.newHeights-img(src="../../widgets/newHeights/heights.svg", alt="")
        