block Variables 
  - 
    var projects = [
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: 'Product Name 2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Name2',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem1.jpg',
        type: 'Product Type',
      },
      {
        title: '2 Na24me',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem2.jpg',
        type: 'Product Type',
      },
      {
        title: '2 4124Name',
        description: 'Some short fascinating description. Some short fascinating description',
        image: './img/favoriteItem3.jpg',
        type: 'Product Type',
      },
    ]
   