section.why-sec
  .container 
    .why
      h2.sec-title.why__title WHY US? 
      .why-list 
        .why-list__item 
          img.why-list__item-img(src="../../pages/home/whyUs/why1.svg" alt="")
          .why-list__item-title WIDE SELECTION
          p.why-list__item-description Explore a diverse selection of materials, furniture, and services, all available in Bali.
        .why-list__item 
          img.why-list__item-img(src="../../pages/home/whyUs/why2.svg" alt="")
          .why-list__item-title Simplified Search
          p.why-list__item-description Our user-friendly search system with numerous filters makes finding the perfect products a breeze
        .why-list__item 
          img.why-list__item-img(src="../../pages/home/whyUs/why3.svg" alt="")
          .why-list__item-title Transparent Pricing
          p.why-list__item-description Rafi ensures transparency in pricing, helping you make informed decisions and stay within budget
        .why-list__item 
          img.why-list__item-img(src="../../pages/home/whyUs/why4.svg" alt="")
          .why-list__item-title Industry Expertise
          p.why-list__item-description Tap into industry expertise and exchange knowledge and experience with fellow market players 
