block Variables 
  -
    var badges = [
      {
        name: 'Local Business',
        image: '../../pages/account/img/badge1.svg',
        description: 'This badge is awarded to businesses that are locally ownedand operated, supporting the community and local economy.',
        requirements: 'The business must be independently owned and operated within Indonesia. It should source products and services locally whenever possible and actively engage with the local community through events, partnerships, or other initiatives.',
      },
      {
        name: 'Ecoriendly',
        image: '../../pages/account/img/badge2.svg',
        description: 'This badge is awarded to businesses that prioritize environmental sustainability and minimize their ecological footprint.',
        requirements: 'The business must demonstrate environmentally-friendly practices such as using renewable energy sources, reducing waste and recycling, using eco-friendly materials, and implementing sustainable business practices throughout their operations.',
      },
      {
        name: 'Ecoriendly',
        image: '../../pages/account/img/badge3.svg',
        description: 'This badge is awarded to businesses that offer high-quality products or services and provide exceptional customer experiences.',
        requirements: 'The business must offer premium-quality products or services that meet or exceed industry standards. They should provide personalized customer service, offer unique or exclusive offerings, and maintain a reputation for excellence in their field.',
      },
      {
        name: 'Ecoriendly',
        image: '../../pages/account/img/badge4.svg',
        description: 'This badge is awarded to businesses that demonstrate innovation and creativity in their products, services, or business practices, driving positive change and advancement in their industry.',
        requirements: 'The business must showcase innovative products, services, or business practices that differentiate them from competitors and offer unique value to customers. This may include the use of cutting-edge technology, groundbreaking design, novel materials, sustainable innovations, or disruptive business models. They should have a track record of innovation and a commitment to continuous improvement and advancement in their field. Additionally, they should be recognized or endorsed by industry experts, received awards or accolades for their innovative achievements, or have patents or intellectual property rights protecting their innovations.',
      },
      {
        name: 'Ecoriendly',
        image: '../../pages/account/img/badge5.svg',
        description: 'This badge is awarded to businesses that produce handmade or small-batch products using traditional methods and craftsmanship.',
        requirements: 'The business must produce handmade or small-batch products using traditional methods and craftsmanship. They should prioritize quality over quantity, use high-quality ingredients or materials, and demonstrate a commitment to preserving artisanal techniques and heritage.',
      },
    ]