html

  include ../../widgets/header/header.pug
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")


  block Variables

  .container.listPage
    a(href="../../pages/home/home.html") Home page
    a(href="../../pages/about/about.html") About page
    a(href="../../pages/account/account.html") Account Page
    a(href="../../pages/account/settings.html") Account Settings
    a(href="../../pages/adding/addProduct.html") Add Product
    a(href="../../pages/adding/addProject.html") Add Project
    a(href="../../pages/auth/signup.html") Sign up (Здесь все инпуты и обработчик ошибок)
    a(href="../../pages/auth/forgot.html") Forgot password
    a(href="../../pages/auth/change.html") Change password
    a(href="../../pages/auth/login.html") Login
    a(href="../../pages/blog/blog.html") Blog
    a(href="../../pages/blogItem/blogItem.html") Blog Item page
    a(href="../../pages/catalog/productsCategories.html") Products Categories
    a(href="../../pages/catalog/productsSubcategories.html") Products Subcategories
    a(href="../../pages/catalog/productsCatalog.html") Products Catalog
    a(href="../../pages/catalog/companiesCatalog.html") Companies Catalog
    a(href="../../pages/company/company.html") Company page
    a(href="../../pages/favorites/favorites.html") Favorites page
    a(href="../../pages/favorites/favoritesEmpty.html") Favorites Empty
    a(href="../../pages/help/help.html") Help page (Здесь есть модалка)
    a(href="../../pages/join/join.html") Join Rafi
    a(href="../../pages/product/product.html") Product page
    a(href="../../pages/project/project.html") Project page
    a(href="../../pages/status/status.html") Status page
  
  include ../../widgets/footer/footer.pug





