html

  include ../../widgets/header/header.pug
    link(rel="stylesheet", href="./notFound.css")

  block Variables

  .container
    .notFound 
      h1.notFound__title 404 error 
      .notFound__text Oops... It seems that some kind of mistake has happened
      a.btn.notFound__btn(href="../../pages/pageList/pageList.html") Go to the main page

  
  include ../../widgets/footer/footer.pug





